#box1{
    height: 300px;
    width: 100px;
    background-color: black;
    margin-left: 600px;
}
#circle1{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 100%;
    margin-left:25px;
}
#circle2{
    height: 50px;
    width: 50px;
    background-color: yellow;
    border-radius: 100%;
    margin-top:30px;
    margin-left:25px
}
#circle3{
    height: 50px;
    width: 50px;
    background-color: rgb(53, 252, 3);
    border-radius: 100%;
     margin-top:30px;
    margin-left:25px
}
#box2{
    height: 400px;
    width: 30px;
    background-color: grey;
    margin-left: 635px;
}